<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="dev.droidprobe.sample.permission.PROBE" />
    <queries>
        <package android:name="dev.droidprobe.sample" />
        <provider android:authorities="dev.droidprobe.sample.probe" />
    </queries>
    <application android:label="DroidProbe" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="dev.droidprobe.runner.files" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
